<div class="container">
    <h1 class="text-center py-3">Customer Relationship Management</h1>
    <div class="d-flex flex-column gap-4 my-3 justify-content-center align-items-center">
        <a href="/admin/login"><button type="button" class="btn btn-outline-primary">Admin Login</button></a>
        <a href="/customer/login"><button type="button" class="btn btn-outline-success">Customer Login</button></a>
        <a href="/customer/registration"><button type="button" class="btn btn-outline-info">Customer Registration</button></a>
    </div>
</div>